@CHARSET "UTF-8";

/*/////////////////////////////////////////////////////////////////// LAYOUT */
body {
     padding: 0px;
     margin:0px;
     font: 80%/170% verdana, sans-serif;
     color: #202020;

}
#top{							/* modra horni cast */
	background-color: #ddf0fe;
	height: 200px;
	width: 100%;
}
#navi{							/* navigacni lista */
	color: #555555;
	border-top: 3px solid #555555;
	width: 200px;
	position: relative;
	top: 0px;
	left: 110px;
}
#search{						/* vyhledavaci panel */
	height: 61px;
	_height: 84px;
	width: 100%;
	background: #3a3a3a url("../img/search_bg.gif") top repeat-x;
	padding-left: 110px;
	padding-top: 23px;
}

#main{							/* prostor s vysledky a obsahem webu */
	padding: 20px;
}

div.answer{
	background: #e9f5fe url("../img/bg_blue.gif");
	font-size: 100%;
	padding: 10px;
	padding-left: 120px; 
	line-height: 2em;
}

div.grey{
	background: #e9e9e9 url("../img/bg_grey.gif");
}

div.text{
	background: #e9e9e9 url("../img/bg_grey.gif");
	padding: 10px;
	padding-bottom: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	left: 110px;
	width: 800px;
	_width: 545px;
}
div.toLeft{
	position: relative;
	left: 90px;
}

/*/////////// Formular */
#search form input{				/* vyhledavani */
	height: 24px;
	_height: 34px;
	padding: 5px;
	_padding: 7px;
	width: 	450px;
	color:  #3a3a3a;
	font-size: 150%;
	_font-weight: bold;
	border: 1px solid ababab;
	float:left;
	border: none;
}
#search form input#submit{		/* submit pro vyhledavani */
	height: 34px;
	width: 	91px;
	margin-top: -5px;
	_margin: 0px;
}
/*/////////////////////////////////////////////////////////////////// OBRAZKY */
#lase_logo{
	position: relative;
	top: 67px;
	left: 110px;
	border: none;
}
.nogif{
	width: 36px;
	height: 20px;
	border: none;
}

/*/////////////////////////////////////////////////////////////////// TEXT */
h1{

	font-size: 140%;
	font-weight: bold;
}
h2{
	display: inline;
	font-size: 120%;
	font-weight: bold;
	padding-bottom: -2px;
}

h2.blue{
	color: #4c90c1;
}

h2.red {
	color: #ff0033;
}

.small {
	font-size: 0.7em;
}

.small a {
	color: #6d9aba;
	text-decoration: none;
}

.small a:hover {
	text-decoration: underline;
}

.light_grey{
	color: #585858;
}
.s80{
	font-size: 80%;
}
.i{
	font-style: italic;
}

/*/////////////////////////////////////////////////////////////////// ODKAZY */
a{
      color:#555555;
      text-decoration:decoration:underline;
}
a:hover{
	color: #6d9aba;
	text-decoration:underline;
}
#navi a{
      color:#555555;
      font-size: 80%;
      text-decoration:none;
}
#navi a:hover{
	text-decoration:underline;
}

div.answer a, div.answer a:visited{
      color:#6d9aba;
      font-size: 70%;
      text-decoration:none;
}
div.answer a:hover{
	text-decoration:underline;
    background-color: #e4f0f9;
}

ul a{
	font-size: 140%;
	color: #4c90c1;
}


a.icons{
	background: transparent url("../img/google_seznam.png") 0px 0px no-repeat;
	padding: 0px; margin: 0px;
}
a.icons:hover{
	background: transparent url("../img/google_seznam_color.png");
}
/*/////////////////////////////////////////////////////////////////// SEZNAMY */

li {
	margin-bottom: 6px;
}

/*/////////////////////////////////////////////////////////////////// iFRAME */

iframe{
	margin: 0 0 0 0;
	border: 1px;
	width: 100%;
	height: 700px;
}

#google{
	float: left;
}

span.linksep {
	font-size:8pt;
	color: #6d9aba;
}

div.explanation {
	margin-left: 50px; 
	height:0px;
	visibility: hidden;
	font-size:12pt;
}
